/* Import Local CSS */
@import url(/css/home\ copy.css);
@import url(/css/animation.css);
@import url(/css/color-mode.css);
@import url(/css/reset.css);

/* CUSTOM FONT */
/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
/* font-family: 'Montserrat', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
/* font-family: "Caveat", cursive; */


/* Web Fonts : Playfair Display */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');
/* font-family: 'Playfair Display', serif; */

/* XEION CDN */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* bbb */
/* 폰트 시작 */
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}

@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 700;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
}

@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 300;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
}

/* Common CSS */
/* 스크롤 */
/* WebKit 기반 브라우저(크롬, 사파리 등)에서 스크롤바를 커스터마이즈할 때 사용하는 가상 요소입니다.
height: .1rem;: 가로 스크롤바의 높이를 0.1rem로 설정합니다.
width: .5rem;: 세로 스크롤바의 너비를 0.5rem로 설정합니다. */
::-webkit-scrollbar{
  height: .1rem;
  width: .5rem;
}

/* ::-webkit-scrollbar-track: 스크롤바의 트랙(스크롤바가 움직이는 공간)의 스타일을 정의합니다.
background-color: #67ccff;: 트랙의 배경색을 밝은 파란색(#67ccff)으로 설정합니다 */
::-webkit-scrollbar-track{
  background-color: #d4d4d4;
}

/* :-webkit-slider-thumb: 슬라이더의 thumb(슬라이더에서 사용자가 움직이는 부분)의 스타일을 정의합니다.
background-color: #194eb9;: thumb의 배경색을 짙은 파란색(#194eb9)으로 설정합니다.
border-radius: 5rem;: thumb의 모서리를 둥글게 설정하여 원형처럼 보이게 만듭니다. */
::-webkit-scrollbar-thumb{
  background-color: #959595;
  border-radius: 5rem;
}
/* height: auto; */
/* section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */
section{
  min-height: 100vh;
}
/* odd -> 홀수 , even -> 짝수*/
/* section:nth-child(odd):not(:first-child) {
  background-color: #f8f8f8;
}

section:nth-child(even):not(:first-child) {
  background-color: #5472f65b;
}

section:nth-child(odd):not(:first-child) .section-heading {
  color: white; 
  text-shadow: #474747 30px 50px 20px; 
}

section:nth-child(even):not(:first-child) .section-heading {
  color: #848df3; 
  text-shadow: #474747 30px 50px 20px; 

} */
.section-heading {
  border: px solid #000;
  font-size: 3rem;
  font-weight: bold;
  color: white;
    text-shadow: 
            -1px 0 0 rgb(0, 0, 0),
               0 -1px 0 rgb(0, 0, 0),
               0 1px 0 rgb(0, 0, 0),
               1px 0 0 rgb(0, 0, 0),
               #474747 30px 50px 20px; 
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%,-50%);

}

.section-heading > span {
  /* border: 1px solid #000; */
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  display: inline-block;
  width: 500px;
  /* border: 1px solid #000; */
  /* transform: translate(-3px, -5px); */
  transition: transform 1s, text-shadow 1s;
  /* position: absolute; */
  /* top:40px; 
  left: 50%;  */
}

/* section:nth-child(odd):not(:first-child) .section-heading:hover > span {
  text-shadow: #474747 -3px -5px 2px;
}

section:nth-child(even):not(:first-child) .section-heading:hover > span {
  text-shadow: #abaaaa -3px -5px 2px;
} */

/* background-color: #d3540086; */
/* background-color: #f39d1286; */
/* background-color: #c03a2b91; */
/* background-color: #5472f6aa; */
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1; /* 처음에 보이지 않도록 설정 */
  /* 스크롤 전 아래쪽에 위치 */
  transform: translateY(0vh); 
  transition: opacity 1s ease-out, transform 1s ease-out;
}

/* 첫 번째 섹션은 항상 보이도록 설정 */
section:first-child {
  opacity: 1; /* 항상 보이게 설정 */
  transform: translateY(0); /* 초기 위치 */
}
section:not(:first-child) {
  background-color: rgba(222, 221, 221, 0.36);
}

/* 홀수 섹션 */
/* background-color: #f8f8f8; */
/* section:nth-child(odd):not(:first-child) {
  background-color: rgba(84, 114, 246, 0.36);
} */

/* 짝수 섹션 */
/* section:nth-child(even):not(:first-child) {
  background-color: #f8f8f8;
} */
/* background-color: rgba(84, 114, 246, 0.36); */

/* 보이기 시작할 때 애니메이션 활성화 */
section.visible {
  opacity: 1; /* 완전히 보이게 설정 */
  transform: translateY(0); /* 제자리로 이동 */
}

section .inner {
  width: 100%;
  /* text-align: center; */
}


.cursor {
  position:fixed;
  top:-300px;
  left:-300px;
  width:10px;
  height:10px;
  border-radius:50%;
  background-color:white;
  mix-blend-mode:difference;
  pointer-events:none;
  transform:translateX(-50%) translateY(-50%);
  z-index:100;
  transition:width .3s, height .3s;
}

.cursor-shadow {
  position:fixed;
  top:-300px;
  left:-300px;
  width:20px;
  height:20px;
  border-radius:50%;
  background-color:white;
  mix-blend-mode:difference;
  pointer-events:none;
  transform:translateX(-50%) translateY(-50%);
  transition:width .3s, height .3s, top .3s, left .3s;
  z-index:99;
}
/* #hero h1{
  font-size: 60px;
  margin: 50px 0;
}
#hero h3{
  font-size: 50px;
} */

#typeit {
  font-family: 'Playfair Display', serif;
}

.font-50 {
  font-size: 50px;
  line-height: 1.5; /* 줄간격을 1.5로 설정 */
}

.font-60 {
  font-size: 60px;
  line-height: 1.4; /* 줄간격을 1.4로 설정 */
}


.home{
  font-family: "Poppins", sans-serif;
  background: var(--bg);
  color: var(--text);
  height: 100%;
  width: 100%;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

/* Toggle Trigger */
.toggle {
  position: fixed;
  top: 20px;
  left: 50%; /* 중앙으로 위치 */
  transform: translateX(-50%); /* 정중앙으로 이동 */
  cursor: pointer;
  z-index: 103;
}
.toggle.active i{
  background-color: rgb(140, 205, 50);
  transform: rotate(315deg);
}
.toggle.active .toggle.container{
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;

}

/* Trigger Button */
input[id=trigger] {
  display: none;

}
label[for=trigger] {
  /* border: 1px solid red; */
  width: 30px;
  height: 20px;
  display: block;
  position: relative;
  cursor: pointer;
  color: #fff;
}
label[for=trigger] span{
  position: absolute;
  height: 2px;
  background-color: #000;
  width: 100%;
  left: 0;
  transition: 0.3s;
}
label[for=trigger] span:nth-child(1){
  top: 0;
}
label[for=trigger] span:nth-child(2){
  top: 50%;
}
label[for=trigger] span:nth-child(3){
  top: 100%;
}
/* 기존 CSS 코드 유지 */

input[id=trigger]:checked + label[for=trigger] span {
  background-color: #fff;
}

input[id=trigger]:checked + label[for=trigger] span:nth-child(1){
  top: 50%;
  transform: rotate(45deg);
}
input[id=trigger]:checked + label[for=trigger] span:nth-child(2){
  opacity: 0;
}
input[id=trigger]:checked + label[for=trigger] span:nth-child(3){
  top: 50%;
  transform: rotate(-45deg);
}

/* Overlay 상하로 오버레이 만들기(안에서 밖으로)*/
.overlay {
  pointer-events: none; 
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  background-color: rgb(0, 0, 0);
  transition: 0.35s;
  
}

.overlay::before{
  top: 50%;
}
.overlay::after{
  bottom:50%;
}

.overlay.active::before,
.overlay.active::after{
  height: 50%;
}




/* h1,
h2,
h5,
p {
  margin: 0;
}
 */

/* Section : home */
/* border: 5px solid red; */
/* section.home{
  height: 100vh;
  width: 100%;
} */
/* object-fit: cover;란 ? 이미지나 비디오가 부모 요소의 크기에 맞게 잘리더라도 비율을 유지하면서 꽉 차도록 표시하는 css속성 
object-fit: cover; 을 사용하기 위한 조건으로 꼭 부모 요소에 가로 넓이와 세로 크기가 있어야하고, 그 값을 자식 요소가 받아와야한다.  */
/* section.home img {
  width: inherit;
  height: inherit;
  object-fit: cover;
} */

.heading {}
/* .heading h1 {
  font-size: 3em;
  padding-bottom: 40px;
  position: relative;
}
.heading h1::before{
  content: '';
  position: absolute;
  width: 150px;
  height: 4px;
  background-color: crimson;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.heading p {
  font-size: 1.2em;
  line-height: 1.2em;
  line-height: 1.2em;
} */



  /*.gnb a {
 display: block; 을 사용하면 안되는 이유 : 세로 배치를 하고 싶어 사용할 경우, 우리는 before 를 글자길이만큼 효과를 줄건데, 제일 긴 글자 만큼 밑줄이 생기기 때문에 안된다. 그래서 div 안에 a 테그가 아닌 ul li 를 사용했다. 
  display: block;
} */
.gnb {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 100;
}
.gnb.active {
  opacity: 1;
  visibility: visible;
}
.gnb a{
  color: #fff;
  text-decoration: none;
  font-family: 'Playfair Display', serif; 
  font-size: 3.2em;
  line-height: 1.6em;
  position: relative;
  padding-right: 20px;
}

.gnb a:after{
  content: '';
  position: absolute;
  height: 20px;
  width: 0%;
  background-color: rgba(202, 202, 202, 0.669);
  left: 0;
  bottom: 7px;
  z-index: -1;
  transition: 0.5s;
}

.gnb a:hover::after{
  width: 100%;
}





/* ddd */
/* .con {
  margin-left:auto;
  margin-right:auto;
} */




/* 라이브러리 끝 */

/* 커스텀 시작 */



.section-slider-1 {
  /* min-width: 1000px; */
  padding:0 10px;
}

.con {
  width:var(--site-width);
}

/* 슬라이더 wrap 시작 */
.section-slider {
  /* display:flex;
  align-items:center;
  justify-content:center;
  height: 100vh; */
}

.slider-wrap {
  width:1000px;
  margin-top: 60px;
  padding:50px 0;
  background-color:white;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.3);
  border-radius:10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider-box {
  /* border: 1px solid #000; */
  margin:0 -100px;
}
/* 슬라이더 wrap 끝 */

/* 게시물 슬라이더 시작 */
.article-slide {
  /* border: 1px solid #000; */
  display: flex;
  flex-direction: row-reverse;
  /* padding: 35px 20px;  */
  /* 슬라이드 내부 여백 줄이기 */
  height: auto; 
  /* 콘텐츠 높이에 맞추어 조정 */
}

.article-image-box {
  width:300px;
  background-image: linear-gradient(147deg, rgba(84, 114, 246, 0.7) 0%, rgba(34, 193, 195, 0.7) 74%);
  box-shadow: 4px 13px 10px 1px rgba(252, 56, 56, 0.5);
  border-radius: 20px;
  overflow:hidden;
  flex-shrink:0;
  align-self:center;
  transition:box-shadow .75s;
}

.article-slide .article-image-box {
  transition:box-shadow .75s;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.article-image-box > img {
  display:block;
  width:100%;
  height:100%;
  object-fit:cover;
  filter:blur(10px);
  transform:scale(1.3);
  opacity:0;
  transition:transform .75s, filter .75s, opacity .75s;
}
.swiper-container {
  /* height: 427px; */
  height: 440px;
  width: 110%;
}
.swiper-slide-active .article-image-box > img {
  transition:transform .75s, filter .75s, opacity .75s;
  opacity:1;
  transform:scale(1);
  filter:blur(0);
}

/* 게시물 슬라이더 - 텍스트박스 시작 */
/* 기본적으로 모든 슬라이드의 텍스트를 숨김 */
.article-text-box > * {
  opacity: 0;
  transform: translateY(40px);
  transition: transform 0.5s, opacity 0.5s;
}

/* 활성화된 슬라이드의 텍스트만 나타남 */
.swiper-slide-active .article-text-box > * {
  opacity: 1;
  transform: translateY(0);
}

/* 추가적인 스타일들 */
.article-text-box {
  /* border: 1px solid #000; */
  padding: 0 20px;
  width: 750px;
  color: #000;
}

.article-slider__text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 100px 0 60px;
}

.article-slider__text-box > * {
  margin-top: 20px;
}

.article-slider {
  position: relative;
}

.article-slider .swiper-pagination {
  top: 100%;
  width: 100%;
}

.article-slider .swiper-pagination > .swiper-pagination-bullet {
  margin: 0 3px;
}

/* 게시물 슬라이더 - 텍스트박스 끝 */
/* 게시물 슬라이더 끝 */

/* 커스텀 끝 */




/* website */
/* 각 섹션이 기본적으로 블록으로 배치되도록 명시 */
section {

}

/* Section :Portfolio */
.portfolio {
  display: grid;
  justify-items: center;
  align-content: center;
  width: 100%;
  height: 100vh;
  background: url(../images/background.png) no-repeat;
  background-position: top right;
}
.items {
  width: 1280px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 30px;
}

.item.thum .photo {
  /* border: 1px solid #000; */
  height: 400px;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 15px 45px -10px rgba(0, 0, 0, 0.15);
  /* overflow: hidden; */

}
  .item.thum .photo img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    object-position: top;
    transition: 2.5s;

  }
  .item.thum:hover .photo img {
    object-position: bottom;
  }
  .item.thum span{
    display: block;
    text-align: center;
    margin-top: 7px;
  }

  .btn-view {
    color: #fff;
    font-size: 10px;
    padding: 2px 8px;
    border-radius: 3px;
  }

  .btn-view.pc{
    background-color: crimson;
  }
  .btn-view.mobile{
    background-color:royalblue;
  }

  aside.item b{
    font-weight: normal;
    color: crimson;
    font-size: 14px;
  }
  aside.item h2{
    font-size: 26px;
    margin-top: 15px;
  }

  aside.item .portfolio-info span{
    display: list-item;
    list-style: square;
    margin-left: 20px;
  }


/* Featherlight Custom CSS */
.featherlight .featherlight-content {
  margin-left: 0;
  max-height: 100%;
  width: 100%;
  height: 100%;
}
.featherlight iframe {
  border: none;
  width: 100%;
  height: 100%;
}
.featherlight .featherlight-close-icon {
  position: absolute;
  z-index: 9999;
  top: 20px;
  left: 20px;
  line-height: 25px;
  width: 25px;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  color: #000;
  border: none;
  padding: 0;
  font-size: 40px;
  outline: none;
}



.background {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.mask-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  border: none;
  clip-path: circle(350px at center); /* 처음 원의 크기는 150px */
  transition: clip-path 0.1s ease-out;
  box-shadow: 0 0 300px 150px rgba(255, 255, 255, 0.5), 
  0 0 600px 300px rgba(255, 255, 255, 0.3), 
  0 0 100px 500px rgba(255, 255, 255, 0.1);
}

.behind-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
}


/* about */
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner {
  width: 80%;
  max-width: 1200px;
  text-align: center;
}

.quote-text {
  font-size: 40px;
  font-family: "Caveat", cursive;
  margin-bottom: 10rem;
  color: #676bf7;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
  margin: 0 auto;
}

.text {
  flex: 1;
  text-align: left;
  font-size: 1.2rem;
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 1.2s ease;
}

.text ul {
  list-style: none;
  padding: 0;
}

.text li {
  margin-bottom: 10px;
}

.profile-image {
  width: 100%;
  max-width: 200px;
  border-radius: 50%;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 2s ease;
}

/* 화면에 들어왔을 때 애니메이션 활성화 */

.text.active {
  transform: translateX(0);
  opacity: 1;
}

.profile-image.active {
  transform: translateX(0);
  opacity: 1;
}