/* 폰트 시작 */
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}

@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 700;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
}

@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 300;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
}

html {
  font-family: 'LotteMartDream', sans-serif;
}
/* 폰트 끝 */

/* 노말라이즈 시작 */
body, ul, li {
  margin:0;
  padding:0;
  list-style:none;
}

a {
  color:inherit;
  text-decoration:none;
}
/* 노말라이즈 끝 */

/* 라이브러리 시작 */
.con {
  margin-left:auto;
  margin-right:auto;
}

.block {
  display:block;
}

.bg-red {
  background-color:red;
}

.bg-blue {
  background-color:blue;
}
/* 라이브러리 끝 */

/* 커스텀 시작 */
:root {
  --body__background-image: linear-gradient(147deg, #FFE53B 0%, #fd3838 74%);
  --site-width:1200px;
}

body {
  background-image: var(--body__background-image);
  min-height:100vh;
  box-sizing:border-box;
}

.con-min-width {
  min-width:var(--site-width);
  padding:0 10px;
}

.con {
  width:var(--site-width);
}

/* 슬라이더 wrap 시작 */
.section-slider {
  display:flex;
  align-items:center;
  justify-content:center;
  min-height:100vh;
}

.section-slider__slider-wrap {
  width:800px;
  padding:50px 0;
  background-color:white;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.3);
  border-radius:30px;
}

.section-slider__slider-box {
  margin:0 -100px;
}
/* 슬라이더 wrap 끝 */

/* 게시물 슬라이더 시작 */
.article-slider__slide {
  display:flex;
  padding:100px 30px;
}

.article-slider__image-box {
  width:300px;
  height:300px;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  box-shadow: 4px 13px 10px 1px rgba(252, 56, 56, 0.5);
  border-radius: 20px;
  overflow:hidden;
  flex-shrink:0;
  align-self:center;
  transition:box-shadow .75s;
}

.swiper-slide-active .article-slider__image-box {
  transition:box-shadow .75s;
  box-shadow: 4px 13px 30px 1px rgba(52, 52, 52, 1);
}

.article-slider__image-box > img {
  display:block;
  width:100%;
  height:100%;
  object-fit:cover;
  filter:blur(10px);
  transform:scale(1.3);
  opacity:0;
  transition:transform .75s, filter .75s, opacity .75s;
}

.swiper-slide-active .article-slider__image-box > img {
  transition:transform .75s, filter .75s, opacity .75s;
  opacity:1;
  transform:scale(1);
  filter:blur(0);
}

/* 게시물 슬라이더 - 텍스트박스 시작 */

.article-slider__text-box {
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  padding:0 100px 0 60px;
}

.article-slider__text-box > * {
  margin-top:20px;
  font-style:italic;
}

.article-slider__reg-date {
  color: #7b7992;
}

.article-slider__title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
}

.article-slider__text {
  color: #4e4a67;
  margin-top: 20px;
  line-height: 1.5em;
}

.article-slider__button {
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
  letter-spacing: 1px;
  margin-top:30px;
}

.article-slider__slide .article-slider__text-box > * {
  opacity:0;
  transform:translateY(40px);
  transition:transform .5s .5s, opacity .5s;
}

.swiper-slide-active .article-slider__text-box > * {
  transition:transform .5s, opacity .5s;
}

.swiper-slide-active .article-slider__text-box > *:nth-child(2) {
  transition:transform .5s .25s, opacity .5s .25s;
}

.swiper-slide-active .article-slider__text-box > *:nth-child(3) {
  transition:transform .5s .5s, opacity .5s .5s;
}

.swiper-slide-active .article-slider__text-box > *:nth-child(4) {
  transition:transform .5s .75s, opacity .5s .75s;
}

.swiper-slide-active .article-slider__text-box > * {
  opacity:1;
  transform:translateY(0);
}

.article-slider {
  position:relative;
}

.article-slider .swiper-pagination {
  top:100%;
  width:100%;
}

.article-slider .swiper-pagination > .swiper-pagination-bullet {
  margin:0 3px;
}
/* 게시물 슬라이더 - 텍스트박스 끝 */
/* 게시물 슬라이더 끝 */

/* 커스텀 끝 */